@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="POST">
        <input type="submit" value="Report" />
    </form>

     <form method="POST">
        <input type="hidden" asp-for="ReportType" value="Broker" />
        <input type="submit" value="Broker Report" />
    </form>

    <form method="POST">
        <input type="hidden" asp-for="ReportType" value="Consolidated" />
        <input type="submit" value="Consolidated Report" />
    </form>

    <form method="POST">
        <input type="hidden" asp-for="ReportType" value="Daily-Transaction" />
        <input type="submit" value="Daily Trans Report" />
    </form>
</div>
